Package: Behafucha
Version: 0.9.6
Architecture: all
Essential: no
Priority: optional
Depends: ydotool, xsel
Maintainer: ilan.shavit@gmail.com
Description: Behafucha - Converts English/Hebrew to Hebrew/English text
